body {
    font-family: 'Courier New', Courier, monospace;
}

li {
    list-style-type: none;
}

a:link  {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none; 
}

a:hover {
    text-decoration: none;
    color: brown;
}

a:active {
    text-decoration: none;
}

.header {
    background-color:rgba(202, 179, 77, 0.521);
    color: rgb(0, 0, 0);
    height: 80px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li {
    float: left;
    padding: 33px 20px;
}

.header-right li {
    float: right;
    padding: 33px 20px;
}

.img-app {
    height: 40px;
}

.main {
    padding: 10px 80px;
}

.copy-container h1 {
    font-size: 120px;
}

.copy-container h2 {
    font-size: 40px;
}

.copy-container span {
    color: brown;
}

.contents {
    height: auto;
    margin-top: 100px;
}

.section-title {
    border-bottom: 2px solid rgba(85, 209, 81, 0.781);
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.section-p {
    border-bottom: 2px solid rgba(85, 209, 81, 0.781);
    font-size: 12px;
    padding-bottom: 15px;
    margin-bottom: 50px;  
}

.contents-item {
    float: left;
    margin-right: 40px;
}

.contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .contact-form {
    padding-top: 100px;
  }
  
  input {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid;
    color: #dee7ec;
  }

  textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid;
    color: #dee7ec;
  }
  
  .contact-submit {
    background-color: #dee7ec;
    color: #889eab;
  }
  
  .footer {
    background-color: #2f5167;
    color: #fff;
    height: 100px;
    padding: 60px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }

  .img-footer {
    height: 200px;
    padding-bottom: 20px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }